[submodule "http-parser"]
	path = http-parser
	url = https://github.com/nodejs/http-parser
[submodule "libguess"]
	path = libguess
	url = https://github.com/kaniini/libguess
[submodule "data_to_header_string"]
	path = data_to_header
	url = git://github.com/cyisfor/data_to_header_string.git
